.sfg-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 56px);
  padding: 1rem;
  background-color: var(--space-bg);
  overflow: hidden;
}
